{{!-- <form action="/auth/login" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username:</label>
        <input type="text" name="username" class="form-control w-25" id="exampleInputEmail1" required="required">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password:</label>
        <input type="password" name="password" class="form-control w-25" id="exampleInputPassword1" required="required">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    {{#if messageError}}
    <p>{{messageError}}</p>
    {{/if }}
</form> --}}


<div class="container">
    <div class="login-container">
        <div class="login-top">
            <a href="/"><img src="/images/LogoNegro.png" width="40" alt="Logo League of Legends"></a>
            <div class="language">
                <p>EUW</p>
                <i id="globe"><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Globe_icon_2.svg/800px-Globe_icon_2.svg.png"
                        width="20"></i>
            </div>
        </div>
        <div class="login-body">
            <p>LOGIN</p>

            <form action="/auth/login" method="post" onkeyup="check()" id="login" autocomplete="off">
                <input type="text" name="username" placeholder="Username" required="required">

                <input type="password" name="password" placeholder="Password" required="required">

                <div class="checkbox">
                    <input type="checkbox" id="keep">
                    <label for="keep">Remember me</label>
                </div>

                <div class="button">
                    <button type="submit">&#x279C;</button>
                </div>
                {{#if messageError}}
                <p>{{messageError}}</p>
                {{/if }}
            </form>
        </div>
        <div class="login-bottom p-2 text-center">
            <a href="/auth/signUp" class="text-center p-1">Can´t Login? <br> Create Account</a>
            <a href="#" target="_blank">Daniel Moreta & Daniel Gonzalez</a>
        </div>
    </div>

    <div class="background-container">
        <div class="background-alert"></div>
    </div>
</div>