<p class="text-light text-center h2 mt-4">Editing <span class="text-warning">{{username}}</span> profile</p>

<div class="d-flex align-items-center flex-column">
    <form action="/profile/{{_id}}/update" method="post">
        <div class="mb-3">
            <label for="" class="form-label text-light mt-3">Username:</label>
            <input type="text" name="username" value="{{username}}" class="form-control">
            <label for="" class="form-label text-light mt-3">Summoner Name:</label>
            <input type="text" name="summonerName" value="{{summonerName}}" class="form-control">
        </div>
        <div>
            <button type="submit" class="btn btn-warning">Update!</button>
        </div>
    </form>
    <img id="profileUpdateImg"
        src="https://res.cloudinary.com/dalk1vcw9/image/upload/v1663318889/RoundedLogo_hhetzk.png">
</div>