<video autoplay muted loop plays-inline id="myVideo">
    <source src="https://res.cloudinary.com/dalk1vcw9/video/upload/v1663265270/Colors_Hero_Desktop_knjk89.mp4">
</video>
<div class="mainPageContent">
    <img src="/images/LogoDorado Hor.png"><br>
    <a class="btn border rounded" href="/auth/login">Get Started</a>
</div>