/* LOGIN */

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

#globe {
    margin-top: -3px;
    margin-left: 5px;
    float: right;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Poppins";
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .login-container {
    background: #efefef;
    width: calc(35% - 20px * 2);
    height: calc(100vh - 20px * 2);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.container .login-container .login-top {
    padding: 40px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(90% - 10px * 2);
    margin: 0 auto;
}

.container .login-container .login-top .language {
    cursor: default;
    padding: 10px 15px;
    border-radius: 4px;
    display: block;
}

.container .login-container .login-top .language:hover {
    background: #dddddd;
}

.container .login-container .login-top .language p {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
}

.container .login-container .login-body {
    padding: 20px;
    width: calc(90% - 20px * 2);
    margin: 0 auto;
}

.container .login-container .login-body p {
    font-size: 30px;
    font-weight: 600;
    padding: 30px 0;
}

.container .login-container .login-body form {
    margin-top: 20px;
}

.container .login-container .login-body form>input {
    display: block;
    width: calc(100% - 20px * 2);
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    outline: none;
    border: 0;
    font-weight: 600;
    background: #dddddd;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: all 0.5s;
}

.container .login-container .login-body form>input:focus {
    border: 2px solid #111111;
    background: #efefef;
}

.container .login-container .login-body form .checkbox {
    margin-top: 20px;
    user-select: none;
}

.container .login-container .login-body form .button {
    margin: 0 auto;
    margin-top: 80px;
    width: 100%;
    text-align: center;
}

.container .login-container .login-body form .button button {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    text-align: center;
    background: #efefef;
    border: 3px solid #dddddd;
    color: #dddddd;
    font-size: 26px;
    outline: none;
    border-radius: 20px;
}

.container .login-container .login-body form .button .btn-active {
    background: #dc3939;
    color: #efefef;
    border-color: #dc3939;
}

.container .login-container .login-body form .button .btn-active:hover {
    background: #c12f2f;
    border-color: #c12f2f;
}

.container .login-container .login-bottom {
    padding: 20px;
    margin: 0 auto;
    width: calc(90% - 20px * 2);
}

.container .login-container .login-bottom a {
    display: block;
    margin-top: 5px;
    color: #666666;
    font-size: 14px;
    text-decoration: none;
}

.container .login-container .login-bottom a:hover {
    color: #111111;
}

.container .login-container .login-bottom p {
    float: right;
    margin-top: -16px;
    color: #999999;
}

.container .background-container {
    width: 75%;
    overflow: hidden;
    background: url("https://bit.ly/3aQlM5w") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.container .background-container2 {
    width: 75%;
    overflow: hidden;
    background: url("https://res.cloudinary.com/dalk1vcw9/image/upload/v1663283317/BardImg_ccxozm.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}